* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
}

.container {
  padding-inline: 2.5rem;
}

.app {
  background-color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

h2 {
  font-size: 25px;
  line-height: 1.1;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 15px;
  line-height: 1.1;
  margin-bottom: 0.25em;
}

p {
  font-size: 10px;
  line-height: 1.6;
  margin-bottom: 0.5em;
}

a {
  color: hsla(254, 6%, 58%, 1);
  cursor: pointer;
}

nav {
  background: hsla(0, 89%, 66%, 1);
  color: #fff;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.brand-name {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.preview-img {
  border-radius: 5px;
}

.card {
  padding-block: 1rem;
}

.card:not(:last-child) {
  border-bottom: 1px solid #918e9b;
}

.card-list {
  margin-top: 2rem;
}

.card__body {
  padding-block: 1em;
}

.card__location {
  display: flex;
  align-items: center;
  gap: 1em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.location {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.card__date {
  display: flex;
  align-items: center;
  gap: 1em;
  font-weight: 500;
}

@media (min-width: 500px) {
  body {
    background: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .app {
    width: 550px;
    height: 700px;
    overflow: scroll;
  }

  .card {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .preview-img {
    /* object-fit: cover; */
    /* height: 100%; */
    width: 125px;
    height: 168px;
  }

  .card__body {
    width: 326px;
  }
}
